<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>make a new comment</h1>
    <form action="/comments" method="post"><section>
        <label for="username">Enter Username</label>
        <input type="text" placeholder="username" name="username">
        <br> <br></section><section>
        <label for="comment"> Comment Text:</label>
        <br>
        <textarea name="comment" id="comment" cols="30" rows="5"></textarea></section>
        <section><button>submit</button></section>
    </form>
    <a href="/comments">Back toindex</a>

</body>
</html>