@import "tailwindcss";
@font-face {
  font-family: 'Roxborough CF';
  src: url('/fonts/RoxboroughCF.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
    @apply bg-gray-900 text-white;
  }
  